.about {
  color: white;

  padding: 40px;
  padding-top: 60px;

  width: 1000px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about__image-container {
  position: relative;
}

.about__image {
  width: 400px;
  height: 600px;

  border-radius: 10px;
}

.about__image_background {
  background-color: #669bbc;

  position: absolute;
  top: 20px;
  left: 20px;

  z-index: -1;
}

.about__text-container {
  width: 300px;
}
