.header {
  border-bottom: 5px solid #fdf0d5;

  width: 100%;
  height: 60px;

  color: #fdf0d5;
  background-color: #003049;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  position: fixed;
  left: 50%;

  transform: translate(-50%);

  z-index: 99;
}

.header__button-container {
  display: flex;
  gap: 40px;
}

.header__button {
  font-size: 25px;

  color: inherit;
  text-decoration: none;
}
